<div class="space-y-4">

  @if (slots().length > 0) {
    <app-caso-costos-previstos
      [slots]="slots()"
      [canEdit]="canEdit()"
      [canDelete]="canDelete()"
      (registerSlot)="registerSlot.emit($event)"
      (unregisterSlot)="unregisterSlot.emit($event)"
      (reorderSlots)="reorderSlots.emit($event)"
    />
  }

  <app-caso-resumen-financiero
    [movimientos]="movimientos()"
    (tipoSeleccionado)="tabla.filtrarPorTipo($event)"
  />

  <app-caso-movimientos
    #tabla
    [movimientos]="movimientos()"
    [loading]="movimientosLoading()"
    [miembros]="miembros()"
    [cuentas]="cuentas()"
    [canEdit]="canEdit()"
    [canDelete]="canDelete()"
    (addMov)="addMov.emit()"
    (deleteMov)="deleteMov.emit($event)"
    (editMov)="editMov.emit($event)"
  />
</div>
